.add-visitor-container {
    padding: 20px;
    background-color: #f9f9f9;
    margin-left: 140px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
}

.aat {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #99999964;
    backdrop-filter: blur(2px);
    z-index: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease-in-out;
}

h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

form:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.image-field {
    grid-column: span 2;
}

form > div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input[type="file"] {
    padding: 5px;
}

input[type="text"],
input[type="date"],
textarea,
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #e4eaeb;
    color: #191b1ac8;
}

label {
    display: block;
    font-size: 16px;
    color: #051d19bb;
}

input[type="radio"] {
    margin-right: 5px;
}

button {
    grid-column: span 2;
    background-color:  #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #0056b3;
}

@media (max-width: 768px) {
    .add-visitor-container {
        margin-left: 0;
    }

    form {
        grid-template-columns: 1fr;
    }

    button {
        grid-column: 1 / -1;
    }
}
